<div class="logIn">
<h2>Log in</h2>
<form action="../../TastyRecipes/View/ShowLogin" method="post">
    
<div class="nickName">
<label for="username">Your user name:<br></label>
<input type="text" name="username" class="text-author" / placeholder='Write your username here'>
</div>
    
<div class="password">
<label for="password">Your password:<br></label>
<input type="password" name="password" class="text-author" / placeholder="Write your password here">
</div>

<div class="submit">
<input type="submit" value="Log in">
<input type="reset" value="Cancel">
</div>

</form>