	<div class="register">
		<h2>Register new user</h2>
		<h3>Username and password has to be at<br> least 5 charecters long.</h3>

		<form action="ShowRegistration" method="get">
			<div class="nickName">
			<label for="username">What username do you want?<br></label>
	    	<input type="text" name="username" class='text-author'/ placeholder="Write your user name here">
	    	</div>
	    	<div class="password">
	    	<label for="password">Enter a password:<br></label>
			<input type="password" name="password" class='text-author'/ placeholder="Write your password here">
	    	</div>

	    	<div class="submit">
	    	<input type="submit" value="Register">
	    	<input type="submit" value="Cancel" >
	    	</div>


	    </form>

	    